 <header class="header">
        <a href="#" class="logo">G <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>&nbsp;S</span></a>
        <nav class="navbars">
            <ul>
                <li><a href="peoples">Peoples</a></li>
                <li><a href="items">Items</a></li>
                <li><a href="login">Login</a></li>

            </ul>
        </nav>

    </header> 

    <img src="../public/img/back1.jpg" alt="">


    <% if(!locals.token){ %>
      <a class="logout" href="login"><i class="fas fa-sign-in-alt"></i> Login</a>
      <% } %>
        <% if(locals.token) { %>
          <a class="logout" href="logout"><i class="fas fa-sign-in-alt"></i> Logout</a>
          <% } %>


            <% if(locals.token && locals.role=='admin' ){ %>
              <a class="admin-button" href="admin"><i class="fas fa-sign-in-alt"></i> Admin</a>
              <% } %>







  </div>
</div>