<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link rel="stylesheet" href="css/admin.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <title>Admin Dashboard</title>
</head>
<body>
 

</div>
        <!-- SIDEBAR -->
        <input type="checkbox" class="menu__checkbox" id="sideview-crawl">
        <div class="side-view">
            <nav class="admin-view__menu">
                <div class="admin-view__header">
                    <h3 class="company-name">
                        <span>AdminPanel</span>
                    </h3>
                    <div class="menu-icon">
                        <label for="sideview-crawl" class="menu-bar">
                            <svg>
                                <use xlink:href='./icons.svg#icon-menu'></use>
                            </svg>
                        </label>
                    </div>
                </div>
                <ul class="side-nav">
                    <li class="side-nav__active">
                        <a href="/">
                            <svg>
                            </svg>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="items">
                        <a href="itemsadd">
                            <svg>
                            </svg>
                            <span>Add items</span>
                        </a>
                    </li>
                    <li class="fire">
                        <a href="itemsremove">
                            <svg>
                            </svg>
                            <span>Update items</span>
                        </a>
                        </li>
                        <!-- <li class="items"> -->
                            <!-- <a href="firepeople"> -->
                                <!-- <svg> -->
                                <!-- </svg> -->
                                <!-- <span>Fire people</span> -->
                   
                        </a>
                    </li>
                </ul>
            </nav>

            <footer class="footer">
            </footer>
        </div>

        <!-- MAIN --->
        <main class="main main-content">
            <div class="header">
                <h1>Welcome back, Admin </h1>
            </div>

            
                        </div>
                    </span>
                </div>
            </div>
        </main>

        <!-- Product Section -->
        <section class="product-section">
            <div class="header">
                <h1>Products</h1>
            </div>
