<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">G <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>&nbsp;S</span></a>
        <nav class="navbars">
            <ul>
                <li><a href="Peoples">Peoples</a></li>
                <li><a href="">Services</a></li>
                <li><a href="#product">Product</a></li>
            </ul>
        </nav>
        <div class="side-bar">
            <i class="fas fa-user" id="login"></i>
            <i class="fas fa-bars" id="menu"></i>
        </div>
        <form action="#" class="login-frm">
            <h3>GS<span>Login</span></h3>
            <button class="btn1"><i class="fab fa-facebook-f"></i>&nbsp;Facebook</button>
            <button class="btn1"><i class="fab fa-google"></i>&nbsp;Google</button>
            <input type="email" placeholder="Enter Your Email" class="log">
            <input type="password" placeholder="Enter Your Password" class="log">
            <p>Create Account<a href="signup">Click Here</a></p>
            <input type="submit" value="Login" class="btn">
        </form>
    </header>

<!-----------------------home-------------------------------->
<section class="home" id="home">
    <div class="home-content">
        <h3>Fresh Vagetables</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit nobis animi dolorem debitis quo nemo eos dolor, 
            doloribus qui est dignissimos consequuntur odio beatae, minus asperiores consectetur fugit doloremque quaerat.</p>
    </div>
</section>    
</body>


<script>
        loginform = document.querySelector('.login-frm');
        document.querySelector('#login').onclick = ()=>
        {
            loginform.classList.toggle('active');
            menus.classList.remove('active');
        }

        let menus = document.querySelector('.navbars')
        document.querySelector('#menu').onclick = ()=>
        {
            menus.classList.toggle('active');
            loginform.classList.remove('active');
        }

        window.onscroll = () =>
        {
            loginform.classList.remove('active');
            menus.classList.remove('active');
        }
</script>
</html>