<div id="app">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Peoples</title>

  </head>



    <div v-for="people in peoples">
      <div class="container col-sm-6 col-xs-6 ">
        <div class="list mb-2 ">
          <div class="list-header">
            <a class="list-header-image">
              <img :src="people.image">
            </a>
          </div>
          <div class="list-content">
            <h2><a class="text-black" @click="getLocation(people._id)">{{people.name}}</a></h2>
            <span class="list-meta">
              <span class="list-meta-people"><i class="fas itemprice"></i> Gender: {{people.gender}}</span>

            </span>
            <p class="itemcast">Age: {{people.age}}</p>
          </div>
        </div>
      </div>
    </div>




    <div class="modal fade modal-sm " id="locationInfoModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="locationInfoModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header ">
            <h5 class="modal-title">Peoples<h5>
                <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
                </button>
          </div>
          <div class="modal-body">
            <table>
              <tr>
                <th>ID</th>
                <td>{{InModal.id}}</td>
              </tr>
              <tr>
                <th>name</th>
                <td>{{InModal.name}}</td>
              </tr>
              <tr>
                <th>gender</th>
                <td>{{InModal.gender}}</td>
              </tr>
              <tr>
                <th>age</th>
                <td>{{InModal.age}}</td>
              </tr>
            </table>
            <button type="button bg-dark" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>


        </div>
      </div>
    </div>
</div>
